/* Global CSS files for all styles */
@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  vertical-align: middle;
  color: white;
}

.titleBar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
